table.game{
    width:100%;
}
td.home, th.home {
    text-align:right;
    vertical-align:middle;
}
td.score, th.score {
    vertical-align:middle;
    text-align:center;
    white-space:nowrap;
    max-width:60px;
    width:auto;
    min-width:40px;
}
td.away, th.away {
    vertical-align:middle;
    text-align:left;
}

td .btn, table {
  width: 100%;
}

a.btn{
    display:block;
}

button.select {
    width: 100%;
}

.repick button.btn{
    margin:0;
    line-height:14px;
    padding: 0px 4px;
    font-size:11px;
 }

.game td button.btn{
    margin:0;
    line-height:14px;
    padding: 0px 4px;
    font-size:11px;
}

.my-nav {
    padding-bottom: 5px;
}

.my-brand {
    padding-bottom:7px !important;
}

.repick.navbar-text {
    line-height:20px;
    padding-left: 5px;
    clear:left;
}
