table.game{
    width:100%;
}
td.home, th.home {
    text-align:right;
}
td.score, th.score {
    text-align:center;
    width:40px;
}
td.away, th.away {
    text-align:left;
}

td .btn, table {
  width: 100%;
}

p.navbar-text {
  float: right;
}

@media (max-width: 480px) {
  p.navbar-text {
    float: left;
  }
}
